link(rel="stylesheet", type="text/css", href="angular2/node_modules/bootstrap/dist/css/bootstrap.min.css" crossorigin="anonymous")
link(href="angular2/node_modules/font-awesome/css/font-awesome.min.css", rel="stylesheet", crossorigin="anonymous")

