//build:js(public/) scripts/common.js
script(src='angular2/node_modules/core-js/client/shim.min.js')
script(src='angular2/node_modules/es6-shim/es6-shim.min.js')
script(src='angular2/node_modules/zone.js/dist/zone.min.js')
script(src='angular2/node_modules/reflect-metadata/Reflect.js')
script(src='angular2/node_modules/systemjs/dist/system.src.js')
script(src='angular2/node_modules/rxjs/bundles/Rx.umd.min.js')

//endbuild
