block title
    title Scala DNS Server
    link(rel="icon",type="image/png",href="angular2/app/images/favicon.ico")
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    base(href="/server/")
