<div class="row">

    <div class="col-md-2" style="padding-left: 40px;">
        <controls style="font-weight: bold;font-family: Georgia;"></controls>
    </div>
    <div class="col-md-9">
        <div id="listingRow" class="table-bordered">
            <div class="container-fluid" style="padding: 2px 3px 2px 3px">
                <form>
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" class="form-control" id="domainSearch"
                                   placeholder="Enter Shortened Url to search">
                            <div class="input-group-addon"><span class="glyphicon glyphicon-search"></span>
                            </div>
                        </div>
                    </div>
                </form>
                <br>
                <form class="form-inline" *ngIf="active" #redirectForm="ngForm" (ngSubmit)="addRecord()">
                    <div class="form-group">
                        <input [(ngModel)]="newRecord.requestUrl" name="domainAdd" type="text"
                               class="form-control" id="domainAdd" placeholder="Shortner" required>
                    </div>
                    <div class="form-group">
                        <input [(ngModel)]="newRecord.redirectUrl" name="dnsAdd" type="text" class="form-control"
                               id="dnsAdd" placeholder="Redirect Url" required
                               pattern="^(ht|f)tp(s?)\:\/\/[0-9a-zA-Z]([-.\w]*[0-9a-zA-Z])*(:(0-9)*)*(\/?)([a-zA-Z0-9\-\.\?\,\'\/\\\+&amp;%\$#_]*)?$">
                    </div>
                    <button type="submit" [disabled]="!redirectForm.form.valid" class="btn btn-success">
                        <b>Add</b> <span class="glyphicon glyphicon-plus-sign"></span></button>
                    <button (click)="clearRecord()" class="btn btn-danger"><b>Clear</b> <span
                            class="glyphicon glyphicon-remove-circle"></span></button>
                    <button class="btn btn-success pull-right"><b>Bulk Add</b> <span
                            class="glyphicon glyphicon-plus-sign"></span></button>
                </form>
                <br>
                <table class="table table-hover table-bordered">
                    <thead>
                    <tr>
                        <th class="requestUrlHeader">Shortner</th>
                        <th class="redirectUrlHeader">Redirect Url</th>
                        <th class="createdHeader text-center">Created at</th>
                        <th class="updatedHeader text-center">Updated at</th>
                        <th class="removeHeader text-center">Remove</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let record of records; let i=index; trackBy:trackByRecords">
                        <td class="button-font requestUrlColumn">{{record.requestUrl}} -><a class="btn btn-link" href="/{{record.requestUrl}}">f/{{record.requestUrl}}</a></td>
                        <td class="redirectUrlColumn">
                            <inline-editor type="text" [(ngModel)]="record.redirectUrl"
                                           (onSave)="editRecord(record,i)" name="record" ngDefaultControl></inline-editor>
                        </td>
                        <td class="createdColumn">{{record.createdAt|date:'medium'}}</td>
                        <td class="updatedColumn">{{record.updatedAt|date:'medium'}}</td>
                        <td class="removeColumn text-center">
                            <button type="button" class="btn btn-danger btn-sm"
                                    (click)="removeRecord(record,i)"><span
                                    class="glyphicon glyphicon-trash"></span></button>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <span class="pull-right">Total Record: {{count}}</span>
            </div>
        </div>
        <br>
        <alert *ngIf="alert.msg" [type]="alert.type" dismissible="true">
            {{ alert?.msg }}
        </alert>
    </div>

    <div class="col-md-1" style="padding-right: 40px;"></div>
</div>
