<div class="btn-group btn-group-justified" role="group">
    <a type="button" class="btn btn-success"><b><span class="glyphicon glyphicon-play pull-left" aria-hidden="true"></span>Start</b></a>
</div>
<br>
<div class="btn-group btn-group-justified" role="group">
    <a type="button" class="btn btn-warning"><b><span class="glyphicon glyphicon-stop pull-left" aria-hidden="true"></span>Stop</b></a>
</div>
<br>
<br>
<br>
<div class="btn-group btn-group-justified" role="group">
    <a type="button" class="btn btn-info"><b><span class="glyphicon glyphicon-refresh pull-left" aria-hidden="true"></span>Refresh Cache</b></a>
</div>
<br>
<div class="btn-group btn-group-justified" role="group">
    <a type="button" class="btn btn-primary"><b><span class="glyphicon glyphicon-repeat pull-left" aria-hidden="true"></span>Restart</b></a>
</div>
<br>
<br>
<br>
<div class="btn-group btn-group-justified" role="group">
    <a type="button" class="btn btn-danger"><b><span class="glyphicon glyphicon-remove pull-left" aria-hidden="true"></span>Exit / Kill</b></a>
</div>
