<api-button [btnType]="'success'" [glyphType]="'play'" [btnText]="'Start'" [url]="'admin/start'"></api-button>
<br>
<api-button [btnType]="'warning'" [glyphType]="'stop'" [btnText]="'Stop'" [url]="'admin/stop'"></api-button>
<br>
<br>
<br>
<api-button [btnType]="'info'" [glyphType]="'refresh'" [btnText]="'Refresh Cache'" [url]="'admin/refresh'"></api-button>
<br>
<api-button [btnType]="'primary'" [glyphType]="'repeat'" [btnText]="'Restart'" [url]="'admin/restart'"></api-button>
<br>
<br>
<br>
<api-button [btnType]="'danger'" [glyphType]="'remove'" [btnText]="'Exit / Kill'" [url]="'admin/exit'"></api-button>
